<!DOCTYPE html>
<html lang="es">
<head>
  <title>#GDLesTradicional - El homenaje a Guadalajara - Cuervo Tradicional</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="name" content="#GDLesTradicional">
  <meta name="og:title" content="#GDLesTradicional"/>
  <meta name="description" content="El homenaje a Guadalajara - Cuervo Tradicional">
  <meta name="og:image" content="/assets/logo.png"/>
  <meta name="keywords" content="#GDLESTRADICIONAL, José Cuervo, Guadalajara tradicional"/>
  <link rel="shortcut icon" href="/assets/favicon.png" />
  <%= stylesheet_link_tag    'application', 'styles/home', media: 'all' %>
  <%= yield :head_style %>
  <%= javascript_include_tag 'application' %>
  <%= yield :head_script %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


</body>
</html>
